
body {
  font-size: 1rem;
  background-color: #441e1e;
}

h1 {
  color: #7c7c7c;
  font-size: 3.5em;
  text-shadow: 0 0 1px rgba(0, 0, 0), 0 0 2px rgba(0, 0, 0),
    0 0 3px rgba(0, 0, 0), 0 0 3px rgba(0, 0, 0);
  margin: 0 auto;
}
h1:hover{
    color: #ee3a3a
}


.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

div #clock {
  /* color: #888; */
  color: #ee3a3a;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  background-color: #101010;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3em 1em 2em;
  padding: 2em 4em;
  border: 0.5em solid rgba(0, 0, 0, 0);
  border-radius: 1em;
  box-shadow: inset 0 0 10px rgba(213, 68, 68, 0.3),
    inset 0 0 20px rgba(213, 68, 68, 0.1);
  cursor: pointer;
}


.btn {
    flex-direction: row;
    cursor: pointer;
    margin-bottom: 1em;
    border-radius: 50px;
    background-color: #888;
    color: #ffffff;
    opacity: 40%;
    padding: 5px;
    width: 10em;
    text-align: center;
}
.btn:hover{
    background-color: #ee3a3a;
    opacity: 70%;
}

#time{
  margin: 0 auto;
  font-size: 4em;
  letter-spacing: 0.2em;
  font-weight: 300;
}

/*modal alarm*/
.modalAlarmOverlay{
    display: none;
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background: #ee3a3a2f; 
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modalAlarmText{
    color: #888;
}
.modalAlarmOverlay.active{
    display: flex;
}
.modalAlarmContent{ /*contenu de la pop up avec animation*/
    background: #101010;
    padding: 30px 40px;
    border-radius: 10px;
    position: relative; 
    min-width: 300px;
    text-align: center;
}
.close-btn { /*bouton de fermeture*/
    position: absolute;
    top: 10px; right: 15px;
    font-size: 28px;
    cursor: pointer;
    color: #888;
}
.close-btn:hover {
    color: #e74c3c;
}

#settingAlarm{
    border-radius: 10px;
}